<main>
  <form method='POST' class='cat-form'>
    <label for='username'>Username:</label>
    <input type='text' id='username' name='username' />
    <label for='password'>Password:</label>
    <input type='password' id='passowrd' name='password' />
    <label for='repeatPassword'>Repeat Password:</label>
    <input type='password' id='repeatPassword' name='repeatPassword' />
    <button type='submit'>Register</button>
  </form>
</main>